@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900&display=swap");

$font-family-base: "Montserrat", sans-serif;
$primary: rgba(251, 176, 0, 0.852);
$navbar-light-color: black;
$navbar-light-hover-color: rgba(17, 52, 194, 0.821);
